<p id="notice"><%= notice %></p>
<p>
  <strong>Email:</strong>
  <%= @account.email%>
</p>
<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>SSN:</strong>
  <%= @account.ssn %>
</p>
<%= link_to 'Back', accounts_path %>
